@model ETickets.Models.Actor

<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-md-3">
            <img src="~/images/CastImg/@Model.ProfilePicture" alt="@Model.FirstName @Model.LastName"
                 class="img-fluid rounded-circle"
                 style="width: 200px; height: 200px; object-fit: cover;" />
        </div>
        <div class="col-md-9">
            <h2>@Model.FirstName @Model.LastName</h2>
            <p><strong>Bio:</strong> @Model.Bio</p>
        </div>
    </div>

    <h4>Movies</h4>
    @if (Model.ActorMovies != null && Model.ActorMovies.Any())
    {
        <ul class="list-group">
            @foreach (var actorMovie in Model.ActorMovies)
            {
                <li class="list-group-item">
                    <a href="/Customer/Movie/MDetails/@actorMovie.Movie.Id">
                        @actorMovie.Movie.Name
                    </a>
                </li>
            }
        </ul>
    }
    else
    {
        <p>This actor has not acted in any movies yet.</p>
    }
</div>
